/*-------------------------Stylesheet for every page and first stage----------------------------------*/

body{
	background-image: url("../img/Stage2/backgound1.jpg");
	background-size:auto;
}
#mainContainer{
	background-image: url("../img/celda5.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	height: 600px;
	margin-top: 2%;
}
.message{                   /*             Style para el bocadillo sobre el pj                     */
	z-index: 2000;
	position: fixed;
	text-align: center;
	background-color: white;
	opacity: 0.9;
	color: grey;
	font-weight:bold;
	margin-top: 2%;
	margin-left: 15%;
    padding: 20px;
    border-radius: 8px;
}
/*.message::after{
   position: absolute;
   top: 100%;
   left: 10px;
   border-top: 20px solid white;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
}*/
.bg2{
	background-image: url("../img/celda5b.jpg");
}

/*--------------------------------------Stylesheet for second stage-------------------------------------*/

canvas{
	background:#999;
}

.stage2container{
	margin-top: 2%;
}
/*--------------------------------------Stylesheet for index-------------------------------------*/
.loadScreen{
	background-color: white;
	opacity: 0.5;
	border-style: solid;
	border-color: black;
	border-width: 10px;
	border-radius: 30px;
	margin-top: 2%;
	height: 500px;
	width: 1100;
	display: table;
}
.loadScreen>form{
	margin: auto;
	display: table-cell;
	vertical-align: middle;
}
input{
	padding: 50px;
}
.start2{
	margin-top: 2%;
	margin-left: 40%;
	color: #fff;
    background-color: #f0ad4e;
    padding: 20px 80px;
    border-color: #f0ad4e;
	cursor: pointer;
	border-radius: 20px;
}
img{
	position: fixed;
	margin-left: 85%;
	z-index: 2000;
}
.mainh1{
	text-align: center;
	font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.1;
    color: navajowhite;
}
/*--------------------------------------Stylesheet for gamover-------------------------------------*/
#gameover>li{
	list-style: upper-roman;
	padding: 1rem;
	margin-left: 10%;
	font-family: "Coiny", cursive;
	font-size: 1.2rem;
}
button>a:link{
	text-decoration:none;
}
a:hover{
	color:white;
}