/*-------------------------Stylesheet for every page and first stage----------------------------------*/

body{
	background-image: url("../img/Stage2/backgound1.jpg");
	background-size:auto;
}
#mainContainer{
	background-image: url("../img/celda5.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	height: 600px;
	margin-top: 2%;
}
.message{
	z-index: 2000;
	background-color: white;
	position: fixed;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
}
.bg2{
	background-image: url("../img/celda5b.jpg");
}

/*--------------------------------------Stylesheet for second stage-------------------------------------*/

canvas{
	background:#999;
}

.stage2container{
	margin-top: 2%;
}